/*size 2100px start */
@media all and (max-width : 2100px){
/*header*/
    .mainmenu ul li a {
    font-size: 18px !important;
    padding: 10px !important;
}
/*headerend*/

/*homepage*/
span.info_tilemu-home{
    padding-left: 13% !important;
}

span.info_tilemu1-home {
    padding-left: 8% !important;
}

span.info_tilemu2-home {
    padding-left: 13.2% !important;
}
/*homepage end*/

/*about page*/
img.banimg_mu {
    padding-top: 11% !important;
}

h2.banner_head {
    font-size: 106px !important;
}

p.bannerabout_para {
    font-size: 23px !important;
}

button.btn-shop {
    background: #ffdb74;
    color: black;
    font-weight: 700;
    font-family: 'Poppins';
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    padding-left: 58px !important;
    padding-right: 58px !important;
    border-radius: 42px !important;
    font-size: 20px !important;
}

p.ab_para {
    font-size: 24px !important;
}

/*about page end*/

/*customerservice page start*/

section.customerbanner h2 {
    font-size: 86px !important;
    padding-top: 5% !important;
}

p.servicepara_mu {
    font-size: 23px !important;
    width: 87%;
}

button.servicebtn_mu {
    background: #ffdb74;
    color: black;
    font-weight: 700;
    font-family: 'Poppins';
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    padding-left: 58px !important;
    padding-right: 58px !important;
    border-radius: 42px !important;
    font-size: 20px !important;
}
button.servicebtn_mu {
    background: #ffdb74;
    color: black;
    font-weight: 700;
    font-family: 'Poppins';
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 20px;
}

/*customerservice page end*/
}






/*size 2100px end */